:root {
  --main: 265;
  --op: -;
  --main-color: #fff;
  --main-text-color: #444;
  --link-text-color: #666;
  --link-contrast-color: #ccc;
  --hover-color: #888;
  --scrollbar-color: #ccc;
  --scrollbar-background-color: #eee;
  --base: 215;
}
