:root {
  --main: 0;
  --op: +;
  --main-color: #000;
  --main-text-color: #fff;
  --link-text-color: #ccc;
  --link-contrast-color: #666;
  --hover-color: #eee;
  --scrollbar-color: #111;
  --scrollbar-background-color: #444;
  --base: 0;
}
